#navLogo{
    -fx-font-size: 20px;
}

#anchorLogIn{
    -fx-background-color: white;
}

.button{
    -fx-background-color: #f0f4f5;
}

.root{
    -fx-padding: 5;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

.separator{
    -fx-border-style: solid;
    -fx-border-color:#f0f4f5;
    -fx-background-color: #f0f4f5;
    -fx-border-width: 1px;
}

.line{
    -fx-border-width: 0px;
    -fx-border-insets: 0px;
}

#alert{
    -fx-background-color: #ff5757;
     -fx-padding: 5;
    -fx-border-width: 1000px;
}

.text-field{
    -fx-border-style: none;
    -fx-background-color: #f0f4f5;
}