.eventButtons{
     -fx-background-color: #0084AD;
     -fx-cursor: hand;
 }

#infoRectangle{
    -fx-effect: dropshadow(gaussian, #989DAA, 10, 0.2, 0, 7);
}

#longDescription{
    -fx-font-family: Baghdad;
    -fx-font-size: 12px;
}

.scrollPanes{
    -fx-background-color: white;
    -fx-border-color: #0084AD;
    -fx-border-style: solid;
    -fx-border-width: 2;
}
