/*---
    author: Diaae Bakri
---*/


#filterLayout{
    -fx-background-color: #0084AD;
}

.filterBoxes{
    -fx-background-color: #F2F7F9;
    -fx-border-style: solid;
    -fx-border-color: transparent;
    -jfx-focus-color: #0084AD;
}

.filterBoxes .list-cell{
    -fx-text-fill: #0084AD;
}

#priceSlider > .track {
    -fx-background-color: #F2F7F9;
}
#priceSlider > .thumb {
    -fx-background-color: #F2F7F9;
}

#priceSlider > .axis{
    -fx-tick-label-fill: #F2F7F9;
    -fx-show-tick-marks: #F2F7F9;
}