/*---
    author: Diaae Bakri
---*/


/*.scroll-bar:vertical {*/
/*    -fx-scale-x: 0;*/
/*}*/

.scroll-bar:horizontal {
    -fx-opacity: 0;
}

/*.scroll-bar:horizontal .track,*/
.scroll-bar:vertical .track{
    -fx-background-color : #F2F7F9;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


/*.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

} */

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

/*.scroll-bar:horizontal .thumb,*/
.scroll-bar:vertical .thumb {
    /*-fx-background-color :derive(black,90.0%);*/
    -fx-background-color: #0084AD;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
    -fx-opacity: 0.5;
}

/*.scroll-bar:horizontal .thumb:hover,*/
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}