/*---
    author: Diaae Bakri
---*/

.text-field.error {
    -fx-text-box-border: red;
    -fx-focus-color: black;
}

#registerRectangle{
    -fx-border-style: solid;
    -fx-border-color: #0084AD;
    -fx-border-width: 2px;
}

.registerButtons{
    -fx-background-color: #F2F7F9;
    -fx-text-fill: #0084AD;
}

#majorBox{
    -fx-background-color: #F2F7F9;
}